<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="navbar-brand ml-5" href="/logout">
            <span class="black-text">logout</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- left side--}}
            <ul class="navbar-nav">
            </ul>
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/">[placeholder link] <span class="sr-only">(current)</span></a>
                    </li>
                    
                </div>
            </ul>
        </div>
    </nav>



      <div class="content-wrapper"> 

    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
                <h1><h1>createItem Page PLACEHOLDER</h1></h1>
        </div>
    </div>

    {{!-- Small Space --}}
    <br>

    <div class="row">
        <div class="col-md-4 debugBG">
            <h3>Input item name here [needs functionality]</h3>
            <p>
              []
            </p>
        </div>
        <div class="col-md-4 debugBG">
            <h3>Change item price and tag here</h2>
            <p>[]</p>        
      </div>
        <div class="col-md-4 debugBG">
            <h3>Input Item Description here</h2>
            <p> [] </p>
            
        </div>
    </div>

  </div>
</section>

