<section> 
     <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="navbar-brand ml-5" href="/logout">
            <span class="black-text">Logout</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- left side--}}
            <ul class="navbar-nav">
            </ul>
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/home"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <a class="nav-link" href="/itemListing"> My Item <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/friends"> Friends <span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

<div class="row">
    <div class="col-md-4">
    </div>    
    <div class="col-md-4">
        <h1><br><br>Add New Item<br></h1>
    <div class="container">
            <form action="/createItem" method="POST" enctype="multipart/form-data">
                <div class="button">
                    <label for="chooseFile" >
                        Choose Image
                    </label>
                </div>
                <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">                         
            <div class="form-group">   
                <label for="itemName"><br>Item Name</label>
                <input class="form-control" id = "ItemName" type="name" name="itemName" placeholder="Enter title"/><br>
                <p id="no_ItemName" name="no_ItemName"></p>
             </div>
            <div class="form-group">   
                <label for="description">Description</label>
                <input class="form-control" id = "Description" name="itemDescription" placeholder="Enter Description"/><br>
                <p id="no_Description" name="no_Description"></p>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="price" id = "Price" class="form-control" name="itemPrice" placeholder="Enter Price">
                <p id="no_Price" name="no_Price"></p>
            </div>            
            <button type="submit" id = "submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
        <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const error = urlParams.get('error');
            window.addEventListener('load',function()
            {     
                var name_err = document.getElementById('no_ItemName');
                var des_err = document.getElementById('no_Description');
                var price_err = document.getElementById('no_Price');
                name_err.style.visibility = "hidden";
                des_err.style.visibility = "hidden";
                price_err.style.visibility = "hidden";
                if(error.includes("nName"))
                {
                    name_err.style.visibility = "visible";
                    name_err.innerHTML = "<span style=color:red>Please Write Item Name</span>";
                }
                if(error.includes("nDes"))
                {
                    des_err.style.visibility = "visible";
                    des_err.innerHTML = "<span style=color:red>Please Write Description</span>";
                }
                if(error.includes("nPrice"))
                {
                    price_err.style.visibility = "visible";
                    price_err.innerHTML = "<span style=color:red>Please write Price</span>";
                }
            })
        </script>
    </div>
    <div class="col-md-4">
    </div>

</div>
</section>