<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="navbar-brand ml-5" href="/logout">
            <span class="black-text">Logout</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- left side--}}
            <ul class="navbar-nav">
            </ul>
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/">[placeholder link] <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <a class="nav-link" href="/itemListing"> View Item List <span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item ml-4">
                        <a class="nav-link" href="/friends"> Friends <span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item ml-4">
                        <a class="nav-link" href="/editProfile"> Edit Profile <span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

<br> <br><br>

<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h1>Edit Profile</h1>
            <div class="form-group">   
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="Enter new email"/><br>
                <p id="incorrect_email" name="incorrect_email"></p>
             </div>
            <div class="form-group">   
                <label for="username">Username</label>
                <input class="form-control" name="username" placeholder="Enter new Username"/><br>
                <p id="incorrect_username" name="incorrect_username"></p>
            </div>
             <div class="form-group">   
                <label for="about">About</label>
                <input class="form-control" name="about" placeholder="Enter information about you"/><br>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Change Password">
                <label for="confirmPassword"><br>Confirm password</label>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                <p id="incorrect_password" name="incorrect_password"></p>
            {{!-- <input class="login-text" type="submit" value = "login"/><br> --}}
            <button type="Create" class="btn btn-primary">Confrim Changes</button>
            {{!--<div class="login new User href="/registration">create new account</a> </div>--}}
            </div>            
        </div>
    </div>
    <div class="col-md-4">
    </div>

</div>

</section>
