<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="navbar-brand ml-5" href="/logout">
            <span class="black-text">Logout</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- left side--}}
            <ul class="navbar-nav">
            </ul>
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/">[placeholder link] <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <a class="nav-link" href="/itemListing"> View Item List <span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

    <br>

   <div class="content-wrapper"> 
     <div>
         <div class="row">
            <div class="col-md-4 debugBG">
            <h2>Friends</h2>
            {{#each userObj.friends}}
                <form action ='/delete_friend' method="POST" id="request-form">               
                    <input type = "hidden" value = {{this}} name ="friendlist">
                <li>{{this}}<input type = "submit" value ="Delete" name = "delete"></li>
            </form>
            {{/each}}
            </div>
         <div class="col-md-4 debugBG" id = "menu1">
            <h3>Friend Request</h3>
            {{#each userObj.friend_requests}}
            <form action ='/accept_friend' method="POST" id="request-form">               
                    <input type = "hidden" value = {{this}} name ="friendlist">
                <li>{{this}}<input type = "submit" value ="Accept" name = "accept"><input type = "submit" value ="Decline" name = "decline"></li>
            </form>
            {{/each}}
         </div>
        <script>

        </script>
         <div class="col-md-4 debugBG">
            <h2>Add Friends</h2>
            <form action = '/friend_requests' method = "POST" id="request-form">
            <div class="form-group">
                <label for="addUsername">Enter Username</label>
                <input type="addUsername" class="form-control" name="addUsername" />
            </div>
                <p><button type="submit" id="OK" />Request</button></p>
            </form>
            </div>
    </div>

<section>


