{{! PLACEHOLDER }}
<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="navbar-brand ml-5" href="/logout">
            <span class="black-text">logout</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- left side--}}
            <ul class="navbar-nav">
            </ul>
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/">[placeholder link] <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <a class="nav-link" href="/overview">Overview/ItemListing <span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
  
  <div class="content-wrapper"> 

    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
                <h1><h1>Home Page PLACEHOLDER</h1></h1>
        </div>
    </div>

  {{!-- PLACEHOLDER PROFILE PAGE --}}
  <a href="/profile">View Profile</a>

  {{!-- PLACEHOLDER LOGOUT --}}
  <a href="/logout">logout</a>
    {{!-- Small Space --}}
    <br>

    <div class="row">
        <div class="col-md-4 debugBG">
            <h3>User Status</h3>
            <p>
              User logged in?
              <span style="color:rgb(255, 75, 75)">{{logged_in}}</span>
              <br />
              Current user is
              <span style="color:rgb(255, 75, 75)">{{userObj.username}}</span>
              {{#if isAdmin}}
                and is an 
                <span style="color:rgb(255, 75, 75)">Admin</span>
              {{/if}}
            </p>
        </div>
        <div class="col-md-4 debugBG">
            <h3>Info Text 2</h2>
            <p>...</p>        
      </div>
        <div class="col-md-4 debugBG">
            <h3>Info Text 3</h2>
            <p>...</p>
        </div>
    </div>

  </div>
  
</section>
