<section>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1>List Items</h1>
         <div class="form-group">   
                <label for="item">PLACEHOLDER FOR EDITS</label>
                <button type="modify" class="btn btn-primary">Modify</button>
                <button type="remove" class="btn btn-primary">Remove</button>
            </div>
    </div>
    <div class="col-md-4">
    <button type="addNew" class="btn btn-primary">Add Item</button>
    </div>
</div>
</section>

<!-- Need a database to hold the items that are added, so we can modify/remove/add. -->