<section>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1>Items List</h1>

        <div class="form-group">   
            <label for="item"> PLACEHOLDER FOR ITEM 1</label>
            <!--- ask about items database - do we make it? or use mongodb db??? ---> 
            
            <button type="button" class="btn btn-primary">Modify </button>
            <button type="button" class="btn btn-primary">Remove </button>
        </div>

    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Add New Item </button>
    </div>
</div>
</section>