<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
  <a class="navbar-brand ml-5" href="/">
  <span class="black-text">WebMart</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>   
  <div class="collapse navbar-collapse" id="navbarNav">
  <div class="collapse navbar-collapse" id="navbarNav">
  
  {{!-- All elements here appear on the left side of the navbar --}}
  <ul class="navbar-nav">
  </ul>
  
  {{!-- All elements here appear on the right side of the navbar --}}
  <ul class="navbar-nav ml-auto mr-5">
    <li class="nav-item ml-4">
    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4">
    <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4">
    <a class="nav-link" href="/itemListing">My Items<span class="sr-only">(current)</span></a>
    </li>
     <li class="nav-item ml-4">
    <a class="nav-link" href="/friends">Friends<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4">
    <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4  mr-4">
    <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  </div>
  </nav>

   <div class="content-wrapper"> 
        <br><br>

        <div class="row border p-5 ">
            <div class="col">
                <div class="text-center" >
                    <img id = "profile" src="/images/profile/{{img}}">
                </div>
            </div>
            <div class="col">
                <div>
                    <br>
                    <h1>{{username}}</h1>
                    <h1>{{email}}</h1>
                </div>
            </div>
        </div>
    
        <br>

        <div class="row border">
            <div class="col">
                <div class="" id="aboutInfo">
                    <h2>About</h2>
                    <p>{{about}}</p>
                    <button onclick="editAvailable()"><a href="/editProfile">Edit Profile</a></button>
                </div>
            </div>
        </div>

    </div>
<section>
