body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #e6ecf0;

    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

/* hide scrollbar chrome */
body::-webkit-scrollbar {
    display: none;
}

.content-wrapper {
    max-width: 1500px;
    margin: 60px auto;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
    color: rgb(126, 160, 185) !important;
}

.r-flex {
    display: flex;
    flex-flow: row;
}

.c-flex {
    display: flex;
    flex-flow: column;
}

.flex-grow {
    flex-grow: 0;
}

.text-align-center {
    text-align: center;
}

.shadow {
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.sh {
    /* background-color: #ffffff; */
    /* padding: 10px; */
    /* border-radius: 20px;  */
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);
}

.img {
    background-color: #e6ecf0;
    /* opacity: 0.5; */
}

.white-text {
    color: rgb(255, 255, 255);
}

.grey-text {
    color: rgb(71, 71, 71);
}

.white-bg {
    background-color: #e6ecf0;
}

.glass-bg {
    background-color: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(5px);
}

.dark-glass-bg {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
} 

.debugBG{
    background-color: rgb(172, 166, 230);
    border: 1px solid rgb(0, 0, 0);
    /*background-color: rgba(240, 73, 73, 0.975);*/
}

.fullBG {
  background-color: rgb(255,248,224);
  background-size: cover;
  height: 100vh;
}

.friendBG{
   background-color: rgb(199,236,255);
   border: 2px solid rgb(0, 0, 0); 
   /*background-color: rgb(255, 199, 199);*/
}

.header {
    color:rgb(230, 70, 70) 
}

/* profile picture */ 
#profile {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#profile img {
    width: 150px;
    height: 150px;
}

#img-upload {
    display: none;
}

#profile-img {
    cursor: pointer;
}
